<div id="cart">
   <div class="pane product-order" *ngFor="let order of orders">
    <button (click)="removeOrder(order)" class="close-btn">&times;</button>
    <img src="{{order.product.imageName}}" alt="stuff">
    <p>{{order.product.name}}</p>
    <div class="quantity-control">
      <button (click)="decrementQuantity(order)" class="rem-btn">-</button>
      <span class="quantity">{{order.quantity}}db</span>
      <button (click)="incrementQuantity(order)" class="add-btn">+</button>
    </div>
    <span class="price-tag">{{order.quantity * order.product.defaultPrice}}$</span>
  </div>

  <button class="btn checkout-btn">Checkout</button>
  <span id="total-price">Total price: {{getSumPrice(orders)}}$</span>

</div>
