@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: justify;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: .5rem;
}

.container {
  max-width: 1200px;
  margin: 5rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.col-12 {
  grid-column: span 12;
}
.col-6 {
  grid-column: span 6;
}
.col-3 {
  grid-column: span 3;
}

.pane {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.center-block {
  width: 30rem;
  margin: 0 auto
}

button, .btn {
  display: inline-block;
  line-height: 1.5;
  color: #fff;
  background-color: #2196F3;
  border-color: #2196F3;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  margin: 3px;
}
button:hover, .btn:hover {
  background-color: #0c83e2;
  border-color: #0c7cd5;
  box-shadow: 1px 1px 5px 0 #4c4e56;
  cursor: pointer;
}
button:disabled, .btn:disabled {
  background-color: #2196F3;
  border-color: #2196F3;
  opacity: 0.65;
  box-shadow: none;
  cursor: not-allowed;
}
.btn-block {
  width: 100%
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-sizing: border-box;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 1px 1px 5px 2px rgba(255, 0, 0, 0.6);
}
